.servicesCard{
    background-color: rgba(231, 231, 231, 0.534);
}
.servicesCard .image{
    width: 300px;
    height: 220px;
}
.servicesCard .image img{
    width: 100%;
}
.serviceDetails .image{
    width: 1100px;
    margin: 0 auto;
    overflow: hidden;

}
.serviceDetails .image img{
    width: 100%;
}
.myContent{
    width: 1000px;
    margin:auto;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .myContent{
        width: 350px;
    }
    .serviceDetails .image{
        width:350px;
        
    }
}